.git
.github
.tmp

node_modules
**/node_modules

dist
**/dist
build
**/build
.next
**/.next
.turbo
**/.turbo
*.tsbuildinfo

coverage
test-reports
playwright-report

*.log
.eslintcache

.env
.env.*
!.env.example
!.env.*.example
