# Dependencies
node_modules

# Build output
dist
build
.next
.turbo
*.tsbuildinfo

# Coverage / reports
coverage
test-reports
playwright-report

# Logs
*.log
.tmp

# IDE / OS
.idea
.vscode
.DS_Store
Thumbs.db

# Cache
.eslintcache

# Env
.env
.env.*
!.env.example
!.env.*.example
