API_PORT=3000
WEB_PORT=3001
API_CORS_ORIGINS=http://localhost:3001
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=g_scores
POSTGRES_PORT=5432
DB_MAX_CONNECTIONS=100
