API_PORT=3000
WEB_PORT=3001
API_CORS_ORIGINS=http://localhost:3001
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=g_scores
POSTGRES_PORT=5432
DB_MAX_CONNECTIONS=100
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/g_scores?schema=public
DIRECT_URL=postgresql://postgres:postgres@postgres:5432/g_scores?schema=public
DATA_IMPORT_SCORE_CSV_URL=https://rnsoeswjjexpodrfcvjl.supabase.co/storage/v1/object/public/dataset/diem_thi_thpt_2024.csv
