API_PORT=3000
API_PREFIX=api
API_VERSION=1
API_CORS_ORIGINS=http://localhost:3001
API_ENABLE_SWAGGER=true
API_CACHE_DRIVER=redis
API_CACHE_TTL_SECONDS=300

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/g_scores?schema=public
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/g_scores?schema=public

REDIS_URL=redis://localhost:6379
DATA_IMPORT_SCORE_CSV_URL=
