API_PORT=3000
API_CORS_ORIGINS=http://localhost:3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/g_scores?schema=public
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/g_scores?schema=public
DATA_IMPORT_SCORE_CSV_URL=https://rnsoeswjjexpodrfcvjl.supabase.co/storage/v1/object/public/dataset/diem_thi_thpt_2024.csv
